name: CI

permissions:
  contents: write
  id-token: write
  pages: write

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build_book:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup mdbook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"

      - name: mdbook Build
        run: mdbook build

      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
